<app-add-product></app-add-product>
<app-edit-product [producto]="productoSeleccionado"></app-edit-product>
<app-add-stock [producto]="productoSeleccionado"></app-add-stock>
<app-img-product [producto]="productoSeleccionado"></app-img-product>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row animated fadeIn fast" *ngIf="cargando">
                    <div class="col-12">
                        <div class="alert text-center text-primary">
                            <h4 class="alert-heading">Cargando</h4>
                            <i class="fa fa-spin fa-refresh fa-2x"></i>
                            <p class="mb-0">Por favor espere</p>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="!cargando">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lista de Productos:</h4>
                                <div>
                                    <button class="btn btn-primary pull-left m-b-10" (click)="abrirModal()">
                                        <i class="mdi mdi-plus"></i> Nuevo Producto
                                    </button>
                                    <input type="text" class="form-control pull-right m-b-10" style="width: 200px;"
                                        placeholder="Buscar por nombre" #txtSearch
                                        (keyup)="btnSearchProducto(txtSearch.value)">
                                </div>

                                <!--<h6 class="card-subtitle">Add class <code>.full-color-table .full-primary-table .hover-table</code></h6>-->
                                <div class="table-responsive">
                                    <table class="table table-hover color-table purple-table">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Precio</th>
                                                <th>Stock</th>
                                                <th>Marca</th>
                                                <th>Descripcion</th>
                                                <th>Fecha de Registro</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let producto of productos | filtroProducts:search">
                                                <td>
                                                    <div class="d-flex">
                                                        <img *ngIf="producto?.foto" (click)="abrirModalImg(producto)"
                                                            src="http://localhost:8080/gym/uploads/imgproducto/{{producto.foto}}"
                                                            alt="{{producto.foto}}" class="img-thumbail rounded-circle"
                                                            style="width: 65px;height: 65px;">
                                                        <img *ngIf="!producto?.foto" (click)="abrirModalImg(producto)"
                                                            src="http://localhost:8080/images/productos/notpackage.png"
                                                            alt="sin foto" class="img-thumbail rounded-circle"
                                                            style="width: 65px;">
                                                        <div class="ml-3">
                                                            <p class="font-bold m-b-5">{{producto.nombre}}
                                                            </p>
                                                            <p class="text-muted m-b-5">{{producto.tipo.nombre}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="font-bold">S/. {{producto.precio}}</p>
                                                </td>
                                                <td>
                                                    <p class="font-weight-bold">{{producto.stock}} und.</p>
                                                </td>
                                                <td>
                                                    <p class="font-weight-bold">{{producto.marca}}</p>
                                                </td>
                                                <td class="t100">
                                                    <p class="text-justify">
                                                        {{producto.descripcion}}
                                                    </p>
                                                </td>
                                                <td class="t50">
                                                    {{producto.createAt | date:"dd 'de' MMMM 'del' yyyy"}}
                                                </td>
                                                <td class="t100">
                                                    <button class="btn btn-outline-primary btn-sm"
                                                        (click)="abrirModalEdit(producto)">
                                                        <i class="mdi mdi-account-edit"></i>
                                                        Editar
                                                    </button>
                                                    &nbsp;
                                                    <button class="btn btn-outline-primary btn-sm"
                                                        (click)="abrirModalAdd(producto)">
                                                        <i class="mdi mdi-plus"></i>
                                                        Añadir
                                                    </button>
                                                    &nbsp;
                                                    <button *ngIf="producto.enabled == true"
                                                        class="btn btn-outline-danger btn-sm"
                                                        (click)="disabled(producto)">
                                                        <i class="mdi mdi-account-off"></i>
                                                        Deshabilitar
                                                    </button>
                                                    <button *ngIf="producto.enabled == false"
                                                        class="btn btn-outline-success btn-sm"
                                                        (click)="enabled(producto)">
                                                        <i class="mdi mdi-account"></i>
                                                        Habilitar
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <app-paginator-products *ngIf="paginador" [paginador]="paginador">
                                    </app-paginator-products>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>