<!-- sample modal content -->
<div class="abrir-modal fadeIn animacion" *ngIf="editMembershipService.modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    <i class="mdi mdi-account-multiple-plus"></i> {{titulo}} {{membresia.id}}
                </h4>
                <button type="button" class="close" (click)="cerrarModal()">×</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editarMembresiaForm" (ngSubmit)="edit($event)">
                    <div class="form-body">
                        <h3 class="card-title">Datos de la Membresia</h3>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group" [class.has-danger]="nombreFieldIsInvalid"
                                    [class.has-success]="nombreFieldIsValid">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre"
                                        formControlName="nombre" [class.form-control-danger]="nombreFieldIsInvalid"
                                        [class.form-control-success]="nombreFieldIsValid"
                                        onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
                                    <small *ngIf="nombreFieldIsInvalid" class="form-control-feedback"> El campo es
                                        requerido. </small>
                                    <small *ngIf="nombreFieldIsValid" class="form-control-feedback"> El campo es
                                        correcto. </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [class.has-danger]="precioFieldIsInvalid"
                                    [class.has-success]="precioFieldIsValid">
                                    <label class="control-label">Precio <span class="text-muted">(en
                                            soles)</span></label>
                                    <input type="text" class="form-control"
                                        [class.form-control-danger]="precioFieldIsInvalid"
                                        [class.form-control-success]="precioFieldIsValid" placeholder="Precio"
                                        formControlName="precio">
                                    <small *ngIf="precioFieldIsInvalid" class="form-control-feedback">
                                        <p *ngIf="precioField.hasError('required')">El campo es requerido</p>
                                        <p *ngIf="precioField.hasError('pattern')">Este campo solo acepta numeros</p>
                                    </small>
                                    <small *ngIf="precioFieldIsValid" class="form-control-feedback"> El campo es
                                        correcto.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [class.has-danger]="descripcionFieldIsInvalid"
                                    [class.has-success]="descripcionFieldIsValid">
                                    <label>Descripcion <span class="text-muted">(separar con ";" cada
                                            caracteristica)</span></label>
                                    <textarea class="form-control" rows="4"
                                        [class.form-control-danger]="descripcionFieldIsInvalid"
                                        [class.form-control-success]="descripcionFieldIsValid" placeholder="Descripcion"
                                        formControlName="descripcion"></textarea>
                                    <small *ngIf="descripcionFieldIsInvalid" class="form-control-feedback"> El campo es
                                        requerido. </small>
                                    <small *ngIf="descripcionFieldIsValid" class="form-control-feedback"> El campo es
                                        correcto. </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [class.has-danger]="duracionFieldIsInvalid"
                                    [class.has-success]="duracionFieldIsValid">
                                    <label class="control-label">Duracion <span class="text-muted">(en
                                            meses)</span></label>
                                    <input type="text" class="form-control"
                                        [class.form-control-danger]="duracionFieldIsInvalid"
                                        [class.form-control-success]="duracionFieldIsValid" placeholder="Duracion"
                                        formControlName="duracion">
                                    <small *ngIf="duracionFieldIsInvalid" class="form-control-feedback">
                                        <p *ngIf="duracionField.hasError('required')">El campo es requerido</p>
                                        <p *ngIf="duracionField.hasError('pattern')">Este campo solo acepta numeros</p>
                                    </small>
                                    <small *ngIf="duracionFieldIsValid" class="form-control-feedback"> El campo es
                                        correcto.
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-actions pull-right">
                        <button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Actualizar</button>
                    </div>
                </form>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->