<!-- sample modal content -->
<div class="abrir-modal fadeIn animacion" *ngIf="editMembershipService.modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    <i class="mdi mdi-account-multiple-plus"></i> {{titulo}} {{membresia.id}}
                </h4>
                <button type="button" class="close" (click)="cerrarModal()">×</button>
            </div>
            <div class="modal-body">


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->