    <app-add-customer></app-add-customer>
    <app-edit-customer [cliente]="clienteSeleccionado"></app-edit-customer>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                    <h4 class="card-title">Lista de Clientes:</h4>
                                    <div>
                                        <button class="btn btn-primary pull-left m-b-10" (click)="abrirModal()">
                                            <i class="mdi mdi-account-multiple-plus"></i> Nuevo Cliente
                                        </button>
                                        <input type="text" class="form-control pull-right m-b-10"  style="width: 200px;" placeholder="Buscar por nombre" #txtSearch (keyup)="btnSearchCliente(txtSearch.value)">
                                    </div>    
       
                                <!--<h6 class="card-subtitle">Add class <code>.full-color-table .full-primary-table .hover-table</code></h6>-->
                                <div class="table-responsive">
                                    <table class="table table-hover color-table purple-table">
                                        <div class="alert alert-info text-center justify-content-center" *ngIf="(clientes | filtroCustomers:pages:search).length === 0">
                                            No existen más registros
                                        </div>

                                        <thead *ngIf="(clientes | filtroCustomers:pages:search).length != 0">
                                            <tr>
                                                <th>Cliente</th>
                                                <th>DNI</th>
                                                <th>Telefono</th>
                                                <th>Estado</th>
                                                <th>Fecha de Registro</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="(clientes | filtroCustomers:pages:search).length != 0">
                                            <tr *ngFor="let cliente of clientes | filtroCustomers:pages:search">
                                                <td>
                                                    <div class="d-flex">
                                                        <img *ngIf="cliente?.foto" src="http://localhost:8080/gym/uploads/imgproducto/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbail rounded-circle" style="width: 65px;height: 65px;">
                                                        <img *ngIf="!cliente?.foto" src="http://localhost:8080/images/productos/notuser.png" alt="sin foto" class="img-thumbail rounded-circle" style="width: 65px;">
                                                        <div class="ml-3">
                                                            <p class="font-bold m-b-5">{{cliente.nombre}} {{cliente.apellido}}</p>
                                                            <p class="text-muted m-b-5">{{cliente.correo}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="font-bold">{{cliente.dni}}</p>
                                                </td>
                                                <td>
                                                    <p class="font-weight-bold">{{cliente.telefono}}</p>
                                                </td>
                                                <td>
                                                    <span *ngIf="cliente.estado==true" class="badge bg-success rounded-pill">CON MEMBRESIA</span>
                                                    <span *ngIf="cliente.estado==false" class="badge bg-warning rounded-pill">SIN MEMBRESIA</span>
                                                </td>
                                                <td>
                                                    {{cliente.createAt | date:"dd 'de' MMMM 'del' yyyy"}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-primary btn-sm" (click)="abrirModalEdit(cliente)">
                                                        <i class="mdi mdi-account-edit"></i>
                                                        Editar
                                                    </button>
                                                    &nbsp;
                                                    <button class="btn btn-outline-primary btn-sm">
                                                        <i class="mdi mdi-eye"></i>
                                                        Ver Detalle
                                                    </button>
                                                    &nbsp;
                                                    <button class="btn btn-outline-danger btn-sm">
                                                        <i class="mdi mdi-delete"></i>
                                                        Eliminar
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="btn-group pagination justify-content-center">
                                        <button type="button" (click)="anterior()"  class="btn btn-outline-primary">Anterior</button>
                                        <button type="button" (click)="siguiente()" [disabled]="(clientes | filtroCustomers:pages:search).length === 0" class="btn btn-outline-primary">Siguiente</button>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>