<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" *ngIf="carrito.length>0">
                    <h4>Productos</h4>
                    <table class="table table-hover color-table purple-table">
                        <thead>
                            <th>N° Item</th>
                            <th>Producto</th>
                            <th>Imagen</th>
                            <th>Cantidad</th>
                            <th>Precio Und.</th>
                            <th>Total</th>
                            <th>Quitar</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of carrito; let i = index">
                                <td>
                                    0{{i+1}}
                                </td>
                                <td>
                                    {{item.producto.nombre}}
                                </td>
                                <td>
                                    <img *ngIf="item.producto?.foto"
                                        src="http://localhost:8080/gym/uploads/imgproducto/{{item.producto.foto}}"
                                        alt="{{item.producto.foto}}" class="rounded" width="30">
                                    <img *ngIf="!item.producto?.foto"
                                        src="http://localhost:8080/images/productos/notpackage.png" alt="sin foto"
                                        class="rounded" width="30">
                                </td>
                                <td>
                                    <input type="number" value="{{item.cantidad}}" class="form-control col-sm-2"
                                        (change)="actualizarCantidad(item, $event)" style="width: 300px;" #cantidad>
                                </td>
                                <td>
                                    S/. {{item.producto.precio}}
                                </td>
                                <td #total>
                                    S/. {{item.importe}}
                                </td>
                                <td class="t25 text-center">
                                    <a (click)="eliminarProducto(item)" class="cursor">
                                        <i class="mdi mdi-delete text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive" *ngIf="carritoC.length>0">
                    <h4>Cursos</h4>
                    <table class="table table-hover color-table purple-table">
                        <thead>
                            <th>N° Item</th>
                            <th>Curso</th>
                            <th>Duracion</th>
                            <th>Horario</th>
                            <th>Precio Und.</th>
                            <th>Total</th>
                            <th>Quitar</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of carritoC; let i = index">
                                <td>
                                    0{{i+1}}
                                </td>
                                <td>
                                    {{item.curso.nombre}}
                                </td>
                                <td>
                                    {{item.curso.fechaInicio | date:'dd / MM / yy'}} - {{item.curso.fechaFinal |
                                    date:'dd / MM / yy'}}
                                </td>
                                <td>
                                    {{item.curso.horaInicio}} - {{item.curso.horaFinal}}
                                </td>
                                <td>
                                    S/. {{item.curso.precio}}
                                </td>
                                <td>
                                    S/. {{item.importe}}
                                </td>
                                <td class="t25 text-center">
                                    <a (click)="eliminarCurso(item)" class="cursor">
                                        <i class="mdi mdi-delete text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <table class="table v-middle no-border">
                    <tbody>
                        <tr>
                            <td class="font-bold">SubTotal:</td>
                            <td class="right">S/. {{subtotal}} </td>
                        </tr>
                        <tr>
                            <td class="font-bold">Descuento:</td>
                            <td class="right">S/. 0.00</td>
                        </tr>
                        <hr>
                        <tr>
                            <td class="font-bold">Total a pagar:</td>
                            <td class="right">S/. {{subtotal}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" (click)="generarCompra()">Pagar</button>
            </div>
        </div>
    </div>
</div>