/* You can add global styles to this file, and also import other style files */

#themecolors .selector,
.cursor {
    cursor: pointer;
}

.t100 {
    width: 20rem;
}

.t50 {
    width: 15rem;
}

.t25 {
    width: 5rem;
}