<div id="main-wrapper">
    <app-navbar></app-navbar>
    <app-navside></app-navside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <app-title></app-title>

            <router-outlet></router-outlet>

            <!--<div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                           
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2022 Wyll Gym by Axel Choquehuanca
            <div class="">

            </div>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>