<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<app-img-perfil [usuario]="usuarioSeleccionado"></app-img-perfil>
<app-ver-compra [comprobante]="comprobanteSeleccionada"></app-ver-compra>
<app-ver-curso [curso]="cursoSeleccionado"></app-ver-curso>

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center">
                    <img *ngIf="usuarioLogeado?.foto" (click)="abrirModal(usuarioLogeado)"
                        src="http://localhost:8080/gym/uploads/imgcliente/{{usuarioLogeado.foto}}"
                        alt="{{usuarioLogeado.foto}}" class="img-circle" width="150" />
                    <img *ngIf="!usuarioLogeado?.foto" (click)="abrirModal(usuarioLogeado)"
                        src="http://localhost:8080/images/productos/notuser.png" alt="sin foto" class="img-circle"
                        width="150">
                    <h4 class="card-title m-t-10">{{usuarioLogeado.nombre}} {{usuarioLogeado.apellido}}</h4>
                    <h6 class="card-subtitle">Cliente</h6>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted">Correo </small>
                <h6>{{usuarioLogeado.correo}} </h6>
                <small class="text-muted p-t-30 db">DNI</small>
                <h6>{{usuarioLogeado.dni}} </h6>
                <small class="text-muted p-t-30 db">Membresia <span class="badge badge-warning"
                        *ngIf="usuarioLogeado.estado == false">Pendiente Pago</span></small>
                <h6>{{usuarioLogeado.membresia.nombre}}</h6>
                <small class="text-muted p-t-30 db">Fin de suscripcion </small>
                <h6 *ngIf="usuarioLogeado.estado == true">{{usuarioLogeado.compromembresias[0].termino | date:"dd '-' MM
                    '-' yyyy"}}</h6>
                <h6 *ngIf="usuarioLogeado.estado == false">-</h6>
                <small class="text-muted p-t-30 db">Horario</small>
                <h6>{{usuarioLogeado.hora.horaInicio}} - {{usuarioLogeado.hora.horaFinal}} </h6>
            </div>
        </div>
    </div>



    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Editar
                        datos</a>
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#home" role="tab">Historial de
                        Compras</a>
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Cursos
                        adquiridos</a> </li>
            </ul>


            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="home" role="tabpanel">
                    <div class="card-body">
                        <table class="table table-hover color-table purple-table"
                            *ngIf="usuarioLogeado.comprobantes.length>0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Descripcion</th>
                                    <th>Observacion</th>
                                    <th>Cant. Items</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let comprobantes of usuarioLogeado.comprobantes">
                                    <td>
                                        {{comprobantes.id}}
                                    </td>
                                    <td class="t100">
                                        {{comprobantes.descripcion}}
                                    </td>
                                    <td>
                                        {{comprobantes.observacion}}
                                        <span *ngIf="!comprobantes.observacion"
                                            class="label label-rounded label-light-primary">
                                            Sin observaciones
                                        </span>
                                    </td>
                                    <td>
                                        {{comprobantes.items.length}} items
                                    </td>
                                    <td>
                                        {{comprobantes.createAt | date:"dd 'de' MMMM 'de' yyyy"}}
                                    </td>
                                    <td>
                                        S/. {{comprobantes.total}}
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-sm"
                                            (click)="abrirCompra(comprobantes)">
                                            <i class="mdi mdi-eye"></i>
                                            Ver Detalle
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="usuarioLogeado.comprobantes.length==0" class="alert alert-primary">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                            <h3 class="text-primary">
                                <i class="fa fa-exclamation-circle"></i>
                                Notificación
                            </h3>
                            Ud. no cuenta con compras realizadas
                        </div>
                    </div>
                </div>
                <!--second tab-->
                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="card-body">
                        <table class="table table-hover color-table purple-table"
                            *ngIf="usuarioLogeado.comprocursos.length>0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Descripcion</th>
                                    <th>Entrenador</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let curso of cursos">
                                    <td>
                                        {{curso.id}}
                                    </td>
                                    <td>
                                        {{curso.nombre}}
                                    </td>
                                    <td>
                                        S/. {{curso.precio | number:"2.2"}}
                                    </td>
                                    <td class="t100">
                                        {{curso.descripcion}}
                                    </td>
                                    <td>
                                        {{curso.entrenador.nombre}}
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-sm" (click)="abrirCurso(curso)">
                                            <i class="mdi mdi-eye"></i>
                                            Ver Detalle
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="usuarioLogeado.comprocursos.length==0" class="alert alert-primary">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                            <h3 class="text-primary">
                                <i class="fa fa-exclamation-circle"></i>
                                Notificación
                            </h3>
                            Ud. no esta suscrito a ningun curso
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material" [formGroup]="editForm" (ngSubmit)="edit($event)">
                            <div class="form-group">
                                <label class="col-md-12">Nombre</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control form-control-line" formControlName="nombre"
                                        [class.form-control-danger]="nombreFieldIsInvalid"
                                        [class.form-control-success]="nombreFieldIsValid"
                                        placeholder="{{usuarioLogeado.nombre}}"
                                        onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
                                    <small *ngIf="nombreFieldIsInvalid" class="text-danger font-bold"> El campo es
                                        requerido. </small>
                                    <small *ngIf="nombreFieldIsValid" class="text-success font-bold"> El campo es
                                        correcto. </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Apellido</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control form-control-line"
                                        [class.form-control-danger]="apellidoFieldIsInvalid"
                                        [class.form-control-success]="apellidoFieldIsValid" formControlName="apellido"
                                        placeholder="{{usuarioLogeado.apellido}}"
                                        onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
                                    <small *ngIf="apellidoFieldIsInvalid" class="text-danger font-bold"> El campo es
                                        requerido. </small>
                                    <small *ngIf="apellidoFieldIsValid" class="text-success font-bold"> El campo es
                                        correcto. </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Telefono</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control form-control-line"
                                        [class.form-control-danger]="telefonoFieldIsInvalid"
                                        [class.form-control-success]="telefonoFieldIsValid" formControlName="telefono"
                                        placeholder="{{usuarioLogeado.telefono}}">
                                    <small *ngIf="telefonoFieldIsInvalid" class="text-danger font-bold">
                                        <p *ngIf="telefonoField.hasError('required')">El campo es requerido</p>
                                        <p *ngIf="telefonoField.hasError('minlength')">El telefono no es correcto(debe
                                            tener 9 digitos)</p>
                                        <p *ngIf="telefonoField.hasError('maxlength')">El telefono no es correcto(debe
                                            tener 9 digitos)</p>
                                        <!--<p *ngIf="telefonoField.hasError('pattern')">Este campo solo acepta numeros</p>-->
                                    </small>
                                    <small *ngIf="telefonoFieldIsValid" class="text-success font-bold"> El campo es
                                        correcto. </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-outline-primary" type="submit">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->