<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<app-registro-horario [membresia]="membresiaSeleccionada" [usuario]="usuarioComparar"></app-registro-horario>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row pricing-plan">
                    <div class="col-md-4 col-xs-12 col-sm-6 no-padding"
                        *ngFor="let membresia of membresias | filtroMembresias:pages">
                        <div class="pricing-box"
                            [class.featured-plan]="usuarioComparar.membresia.nombre === membresia.nombre">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <h4 *ngIf="usuarioComparar.estado == true && usuarioComparar.membresia.nombre === membresia.nombre"
                                        class="price-lable text-white bg-warning"> Suscrito</h4>
                                    <h4 *ngIf="usuarioComparar.estado == false && usuarioComparar.membresia.nombre === membresia.nombre"
                                        class="price-lable text-white bg-warning" style="width: 50%;"> Pendiente Pago
                                    </h4>
                                    <h4 class="text-center">{{membresia.nombre}}</h4>
                                    <h2 class="text-center"><span class="price-sign">S/. </span> {{membresia.precio}}
                                    </h2>
                                    <p class="uppercase">{{membresia.duracion}} meses</p>
                                </div>
                                <div class="price-table-content">

                                    <div class="price-row" *ngFor="let a of membresia.descripcion.split(';')">
                                        {{a}}
                                    </div>
                                    <div class="price-row">

                                    </div>

                                    <div class="price-row" *ngIf="usuarioComparar.estado == true">
                                        <button *ngIf="usuarioComparar.membresia.nombre != membresia.nombre"
                                            class="btn btn-primary waves-effect waves-light m-t-20"
                                            (click)="suscribirse(membresia)">Suscribirse</button>
                                        <button *ngIf="usuarioComparar.membresia.nombre === membresia.nombre"
                                            class="btn btn-lg btn-primary waves-effect waves-light m-t-20"
                                            (click)="renovar()">Renovar</button>
                                    </div>
                                    <div class="price-row" *ngIf="usuarioComparar.estado == false">
                                        <button *ngIf="usuarioComparar.membresia.nombre != membresia.nombre"
                                            class="btn btn-primary waves-effect waves-light m-t-20"
                                            (click)="suscribirse(membresia)">Suscribirse</button>
                                        <button *ngIf="usuarioComparar.membresia.nombre === membresia.nombre"
                                            (click)="pagar()"
                                            class="btn btn-lg btn-primary waves-effect waves-light m-t-20">Pagar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="btn-group pagination justify-content-center">
                <button class="btn btn-primary waves-effect waves-light" (click)="anterior()">Anterior</button>
                &nbsp;
                <button class="btn btn-primary waves-effect waves-light" (click)="siguiente()">Siguiente</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->